/*nav bar*/
.container-fluid {
    background-color: rgb(108, 110, 206);
    border-radius: 5px;
    box-shadow: rgba(238, 130, 238, 0.433) 5px 5px 5px 5px;
    font-family: "$fuente-serifada";
    
}